body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  flex: 0 1 max-content;
}

main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  padding: 5em 1em;
}

footer {
  flex: 0 1 max-content;
}

article {
  max-inline-size: 66ch;
}
